/* line 5, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 11, ../../../../../.rvm/gems/ruby-2.1.0/gems/susy-2.0.0/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 25, ../sass/_base.scss */
.container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  /* line 12, ../../../../../.rvm/gems/ruby-2.1.0/gems/susy-2.0.0/sass/susy/output/support/_clearfix.scss */
  .container::after {
    content: " ";
    display: block;
    clear: both; }

/* line 32, ../sass/_base.scss */
.container {
  background: #ccc; }
  /* line 35, ../sass/_base.scss */
  .container .col {
    min-height: 200px; }
  /* line 40, ../sass/_base.scss */
  .container .span1 {
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    background: blue; }
  /* line 45, ../sass/_base.scss */
  .container .span2 {
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    background: rgba(204, 204, 17, 0.75); }
  /* line 50, ../sass/_base.scss */
  .container .span3 {
    width: 25%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%;
    background: rgba(165, 61, 143, 0.8); }

/* line 5, ../sass/_general.scss */
.clrfix {
  overflow: hidden;
  *zoom: 1; }

/* line 9, ../sass/_general.scss */
.legacy-clrfix {
  *zoom: 1; }
  /* line 22, ../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  .legacy-clrfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

/* line 13, ../sass/_general.scss */
.fl {
  float: left; }

/* line 17, ../sass/_general.scss */
.fr {
  float: right; }
